{% extends 'base.html' %}

{% block title %}Comments Page{% endblock title %}

{% block content %}
<div class="blog">
    <a href="{% url 'index' %}">Back to Home Page</a>
    <h2>Item Details :</h2>
    <div class="blogItemLeft">
        <h3>{{ item.name }}</h3>
        <ul>
            <li style="list-style:none;margin-left:-40px;">
                <address>{{ item.tagline }}</address><br>
                <form method="POST">
                    <input type="text" name="comment" required />
                    <input type="submit" value="submit">
                    {% csrf_token %}
                </form>
                {% if message != '' %}
                    <p style="color:red;">{{ message }}</p>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="blogItemRight">
        <h3>Recent Post :</h3>
        {% for li in context|slice:':10' %}
            <a href="{% url 'item_detail' li.id %}">{{ forloop.counter }}-{{ li.tagline }}</a><br>
        {% endfor %}
    </div>
</div>
{% endblock content %}