{% extends 'base.html' %}

{% block title %}Blog List{% endblock title %}

{% block content %}
<div class="blog">
    <div class="blogLeft">
        <h3>Add Blog</h3>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" ><br><br>
            <input type="text" name="tagline" ><br><br>
            <input type="submit" value="Add"><br>
        </form>
        <div class="message">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="blogRight">
        <h3>Blog List</h3>
        <ul>
            {% for li in context %}
                <li><a href="#">{{ li.tagline }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}