{% extends 'base.html' %}

{% block title %}{{ item.name }} Details {% endblock title %}

{% block content %}
<div class="blog">
    <a href="{% url 'index' %}">Back to Home Page</a>
    <h2>Item Details :</h2>
    <div class="blogItemLeft">
        <h3>{{ item.name }}</h3>
        <ul>
            <li style="list-style:none;margin-left:-40px;">
                <address>{{ item.tagline }}</address><br>
                <a href="{% url 'comments' item.id %}">
                    <button value="Button">comments</button>
                </a>
            </li>
        </ul>
    </div>
<!---
    <div class="blogItemRight">
    <h3>Recent Post :</h3>
        {% for li in context %}
            {% if forloop.counter < 11 %}
                <a href="{% url 'item_detail' li.id %}">{{ forloop.counter }}-{{ li.tagline }}</a><br>
            {% endif %}
        {% endfor %}
    </div>-->
    <div class="blogItemRight">
        <h3>Recent Post :</h3>
        {% for li in context|slice:':10' %}
            <a href="{% url 'item_detail' li.id %}">{{ forloop.counter }}-{{ li.tagline }}</a><br>
        {% endfor %}
    </div>
</div>
{% endblock content %}